.github/** linguist-vendored=false
.github/workflows/** linguist-vendored=false
*.md linguist-vendored=false
*.yml linguist-detectable=true
*.md linguist-detectable=true
*.yml linguist-language=YAML
*.md linguist-language=Markdown
*.json linguist-detectable=true
*.json linguist-language=JSON
